RewriteEngine On

# --- gurigo.hu → gurigo.eu átirányítás ---
RewriteCond %{HTTP_HOST} ^(www\.)?gurigo\.hu$ [NC]
RewriteRule ^(.*)$ https://gurigo.eu/$1 [L,R=301]

# Ha a fájl vagy könyvtár létezik, akkor közvetlenül kiszolgálja
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Egyébként minden kérés megy az index.php-hez
RewriteRule ^ index.php [L]